.footer-top-left img{
    width: 145px;
    height: 45px;
    border-radius: 15px;
    border-left: #9504d3 solid 8px;
    border-right: #f47d06 solid 8px;
    cursor: pointer;
}
.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left p{
    font-size: 20px;
    max-width: 400px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}


@media(max-width:768px){
    .footer{
        margin: 20px 30px;
    }
    .footer-top-left img{
        width: 80px;
        height: 30px;
    }
    .footer-top-left p{
        font-size: 15px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .footer-bottom-right p{
        font-size: 14px;
    }
    .footer-bottom-left{
        font-size: 12px;
    }
}